.headerSection {
  color: var(--default-color);
  background-color: var(--background-color);
  transition: all 0.5s;
  z-index: 997;
}

.mainHeader {
  border-bottom: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.logo {
  line-height: 1;
  text-decoration: none;
}

.logo h1 {
  font-size: 26px;
  margin: 0;
  font-weight: 700;
  color: var(--heading-color);
}

.headingColor {
  color: var(--accent-color);
}

.headerActions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.headerActionBtn {
  position: relative;
  background: none;
  border: none;
  padding: 0.5rem;
  color: var(--default-color);
  font-size: 15px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.headerActionBtn:hover {
  color: var(--default-color);
}

.cartBadge {
  display: flex;
  align-items: center;
  gap: 6px;
  border: 2px solid #e07844;
  background: transparent;
  color: #e07844;
  padding: 4px 8px;
  border-radius: 6px;
  cursor: pointer;
  min-width: 80px;
  min-height: 30px;
  font-size: 10px;
}

.cartBadgeText {
  display: flex;
  color: #f8efeb;
  flex-direction: column;
  font-size: 10px;
  line-height: 1;
}

.cartBadge svg {
  font-size: 24px;
  color: var(--accent-color);
}

.sideMenuBar {
  font-size: 24px;
  color: var(--accent-color);
}

.mart {
  color: #f8efeb;
}

.location {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.location svg {
  font-size: 24px;
  color: var(--accent-color);
}

.locationText {
  color: #f8efeb;
  font-size: 0.875rem;
}

.logoSection {
  display: flex;
  align-items: center;
  gap: 50px;
}


/* ----------- RESPONSIVE FIXES ----------- */

/* Tablet */
@media (max-width: 992px) {
  .headerWrapper {
    gap: 12px;
  }

  .logo h1 {
    font-size: 22px;
  }

  .headerActions {
    gap: 16px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .headerWrapper {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .logo h1 {
    font-size: 20px;
  }

  .locationText {
    font-size: 11px;
  }

  .headerActions {
    gap: 5px;
  }

  .headerActionBtn {
    padding: 0.45rem;
  }


  .cartBadge {
    min-width: auto;
    padding: 3px 6px;
  }

  .cartBadgeText {
    font-size: 9px;
  }

  .logoSection {
    gap: 20px;
  }
}
/*dropdown */
.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  min-width: 160px;
  overflow: hidden;
  z-index: 1000;
}

.dropdownItem {
  display: block;
  padding: 10px 16px;
  color: #333;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.2s ease;
}

.dropdownItem:hover {
  background-color: #f1f1f1;
}

.dropdownDivider {
  height: 1px;
  background-color: #e0e0e0;
  margin: 0;
}
